.908_99 { 
	overflow:hidden;
}.android_large___3_908_99 { 
	background-color:rgba(42.000001296401024, 41.00000135600567, 42.000001296401024, 1);
	width:360px;
	height:800px;
	position:absolute;
}.rec8_1009_231 { 
	background-color:rgba(123.0000002682209, 103.0000014603138, 68.00000354647636, 1);
	width:142px;
	height:144px;
	position:absolute;
	left:34px;
	top:72px;
}.rec7_1009_232 { 
	background-color:rgba(173.00000488758087, 147.00000643730164, 88.00000235438347, 1);
	width:142px;
	height:144px;
	position:absolute;
	left:184px;
	top:72px;
}.rec6_1009_233 { 
	background-color:rgba(246.49999290704727, 253.48213344812393, 255, 1);
	width:142px;
	height:144px;
	position:absolute;
	left:34px;
	top:240px;
}.rec5_1009_234 { 
	background-color:rgba(123.0000002682209, 103.0000014603138, 68.00000354647636, 1);
	width:142px;
	height:144px;
	position:absolute;
	left:184px;
	top:240px;
}.rec4_1009_235 { 
	background-color:rgba(173.00000488758087, 147.00000643730164, 88.00000235438347, 1);
	width:142px;
	height:144px;
	position:absolute;
	left:34px;
	top:408px;
}.rec3_1009_236 { 
	background-color:rgba(246.49999290704727, 253.48213344812393, 255, 1);
	width:142px;
	height:144px;
	position:absolute;
	left:184px;
	top:408px;
}.rec2_1009_237 { 
	background-color:rgba(123.0000002682209, 103.0000014603138, 68.00000354647636, 1);
	width:142px;
	height:144px;
	position:absolute;
	left:34px;
	top:576px;
}.rec1_1009_238 { 
	background-color:rgba(173.00000488758087, 147.00000643730164, 88.00000235438347, 1);
	width:142px;
	height:144px;
	position:absolute;
	left:184px;
	top:576px;
}