.908_97 { 
	overflow:hidden;
}.e908_97 { 
	background-color:rgba(255, 255, 255, 1);
	width:363px;
	height:821px;
	position:absolute;
}.e921_41 { 
	width:293px;
	height:483px;
	position:absolute;
	left:35px;
	top:24px;
}.e909_149 { 
	width:293px;
	height:483px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/unsplash_asbqa0h_h9g.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e909_150 { 
	width:293px;
	height:360px;
	position:absolute;
	left:35px;
	top:528px;
}.ei909_150_908_100 { 
	color:rgba(0, 0, 0, 1);
	width:293px;
	height:360px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:MS PGothic;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}